Repository CharlesBT/roland-mc909-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

-
  .vscode/settings.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/AudioWAV.ts
  src/audio-wav.ts.tmp
  src/test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

-
  README.md
  TODO.txt
  package.json
  pnpm-lock.yaml
  script/check-filenames.ts
  src/audio-wav.d.ts
  src/audio-wav.js
  src/audio-wav.ts.tmp
  src/data-tools-v3/data-buffer-list.d.ts
  src/data-tools-v3/data-buffer-list.js
  src/data-tools-v3/data-buffer.d.ts
  src/data-tools-v3/data-buffer.js
  src/data-tools-v3/data-helpers.d.ts
  src/data-tools-v3/data-helpers.js
  src/data-tools-v3/data-stream.d.ts
  src/data-tools-v3/data-stream.js
  src/data-tools-v3/underflow-error.d.ts
  src/data-tools-v3/underflow-error.js
  src/test.iop.ts
  tsconfig.json
  types/uttori-data-tools.d.ts
Due: prettier --write, eslint --fix

-
  src/audio-wav.d.ts
  src/audio-wav.js
  src/test.iop.ts
Due: eslint --fix

-
  package.json
  pnpm-lock.yaml
  script/check-samples.ts
  script/dump-chunks.ts
  script/update-dir.ts
  src/audio-wav.d.ts
  src/audio-wav.js
  src/test.iop.ts
  src/types.ts
  src/useMC909Samples.ts
  src/utils.ts
Due: prettier --write, eslint --fix

-
  package.json
  pnpm-lock.yaml
  script/update-dir.ts
  smpl0001.wav
  smpl0002.wav
  src/useMC909Samples.ts
Due: prettier --write, eslint --fix

-
  package.json
Due: prettier --write

-
  scripts/check-samples.ts
  scripts/dump-chunks.ts
  scripts/update-dir.ts
Due: eslint --fix

-
  package.json
  scripts/check-names.ts
  src/useMC909Samples.ts
Due: prettier --write, eslint --fix

-
  scripts/1-check-names.ts
  scripts/2-check-samples.ts
  scripts/3-update-dir.ts
  src/test.iop.ts
  src/test.ts
  tsconfig.json
  types/uttori-data-tools.d.ts
Due: prettier --write, eslint --fix

-
  package.json
  pnpm-lock.yaml
  scripts/1-gather-stereo2mono.ts
  scripts/2-check-names.ts
  scripts/3-check-samples.ts
  scripts/4-process-dir.ts
  src/useMC909Samples.ts
Due: prettier --write, eslint --fix

-
  src/useMC909Samples.ts
Due: eslint --fix

-
  package.json
  pnpm-lock.yaml
Due: prettier --write

-
  scripts/1-gather-stereo2mono.ts
  scripts/2-check-names.ts
  scripts/3-check-samples.ts
  scripts/4-count-sampleslots.ts
  scripts/5-process-dir.ts
  src/useMC909Samples.ts
  src/utils.ts
Due: eslint --fix

-
  scripts/1-gather-stereo2mono.ts
Due: eslint --fix

-
  package.json
  pnpm-lock.yaml
  scripts/5-process-dir.ts
  src/useMC909Samples.ts
Due: prettier --write, eslint --fix

-
  scripts/ACID/acid-beatmapped.ts
  scripts/ACID/acid-loop-beats-1.ts
  scripts/ACID/acid-loop-beats-16.ts
  scripts/ACID/acid-loop-beats-4.ts
  scripts/ACID/acid-oneshot.ts
  scripts/CHUNK/dump-chunks.ts
  scripts/MC909/1-gather-stereo2mono.ts
  scripts/MC909/2-check-names.ts
  scripts/MC909/3-check-samples.ts
  scripts/MC909/4-count-sampleslots.ts
  scripts/MC909/5-process-dir.ts
  src/useACIDSamples.ts
  src/useMC909Samples.ts
Due: eslint --fix

-
  scripts/ACID/check-acid-loop-tempo.ts
  scripts/ACID/set-acid-beatmapped-tempo.ts
  scripts/ACID/set-acid-loop-16beat.ts
  scripts/ACID/set-acid-loop-1beat.ts
  scripts/ACID/set-acid-loop-4beat.ts
  scripts/ACID/set-acid-oneshot.ts
  scripts/MC909/1-gather-stereo2mono.ts
  scripts/MC909/2-check-names.ts
  scripts/MC909/3-check-samples.ts
  scripts/MC909/4-count-sampleslots.ts
  scripts/MC909/5-process-dir.ts
  src/report.ts
  src/useACIDSamples.ts
  src/useMC909Samples.ts
  src/utils.ts
Due: eslint --fix

-
  scripts/MC909/5-process-dir.ts
Due: eslint --fix

key detection
  src/midiKeymap.ts
  src/useMC909Samples.ts
Due: eslint --fix

doc updated
  README.md
  package.json
Due: prettier --write

fix
  scripts/MC909/5-process-dir.ts
Due: eslint --fix

doc
  scripts/MC909/5-process-dir.ts
Due: eslint --fix

doc
  README.md
Due: prettier --write

doc
  README.md
  package.json
Due: prettier --write

doc
  README.md
  scripts/ACID/check-acid-loop-tempo.ts
Due: prettier --write, eslint --fix

doc
  src/useMC909Samples.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{md,yml,json,jsonc,html,htm,css,scss}
  eslint --fix: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}
