Repository CharlesBT/roland-mc909-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{md,yml,json,jsonc,html,htm,css,scss}": ["prettier --write"],
  "*.{js,jsx,cjs,mjs,ts,tsx,cts,mts,vue}": ["eslint --fix"]
}

doc
  README.md
Due: prettier --write

npm publishing
  .github/workflows/build.yml
Due: prettier --write

npm publishing
  package.json
Due: prettier --write

github
  .github/workflows/build.yml
  package.json
Due: prettier --write

doc
  package.json
Due: prettier --write

-
  src/useMC909Samples.ts
Due: eslint --fix

added useMidiFile
  _dump-ref-midi.ts
  package.json
  pnpm-lock.yaml
  scripts/MC909/6-process-midi.ts
  src/useMidiFile.ts
Due: prettier --write, eslint --fix

-
  scripts/MC909/6-process-midi.ts
Due: eslint --fix

-
  .eslintignore
  .eslintrc.cjs
  README.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/MIDI/1-process-file.ts
  scripts/SAMPLES/1-gather-stereo2mono.ts
  scripts/SAMPLES/2-check-names.ts
  scripts/SAMPLES/3-check-samples.ts
  scripts/SAMPLES/4-count-sampleslots.ts
  scripts/SAMPLES/5-process-dir.ts
Due: prettier --write, eslint --fix

2-copy-template
  README.md
  scripts/MIDI/1-process-file.ts
  scripts/MIDI/2-copy-template.ts
  src/useMidiFile.ts
Due: prettier --write, eslint --fix

description
  package.json
Due: prettier --write

readme
  README.md
Due: prettier --write

doc
  README.md
  scripts/MIDI/1-process-midifile.ts
  scripts/MIDI/2-copy-midi-template.ts
Due: prettier --write, eslint --fix

removed github action workflow
  .github/workflows/build.yml
Due: prettier --write

-
  README.md
Due: prettier --write

-
  src/useMidiFile.ts
Due: eslint --fix

timestretchType: 0
  src/useMC909Samples.ts
Due: eslint --fix

-
  scripts/SAMPLES/5-process-dir.ts
  src/useMC909Samples.ts
Due: eslint --fix

-
  scripts/SAMPLES/5-process-dir.ts
Due: eslint --fix
